
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<h4>Inlogning Lussans</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="PrivateHome" asp-action="Login" method="post">
            <input type="text" name="userName" />
            <input type="password" name="password" />
            <button class="btn btn-success">Login</button>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
