@model CreateSpecialEventsViewModel;

<h1>Evenemang information</h1>


<form asp-action="Create" method="post">
    

    <label asp-for="SpecialEventsName">Namn:</label>
    <input asp-for="SpecialEventsName"/>
    <span asp-validation-for="SpecialEventsName"></span>

    <label asp-for="SpecialEventsDiscription">Skriv in allergi information:</label>
    <textarea asp-for="SpecialEventsDiscription" rows="20"  cols="100"></textarea>

    
    <span asp-validation-for="SpecialEventsDiscription"></span>
  
    <button type="submit" class="btn btn-outline-dark">Lägg till evenemang</button>
</form>
    
