@model CreateSpecialEventsViewModel;

<h1>Evenemang information</h1>


<form asp-action="Create" method="post">
    

    <label asp-for="SpecialEventsName">Namn:</label>
    <br>
    <input asp-for="SpecialEventsName" onfocus="this.value=''" min="0" required autocomplete="off" type="text" class="form-control"/>
    <span asp-validation-for="SpecialEventsName"></span>
    <br>
    <label asp-for="SpecialEventsDiscription">Skriv in allergi information:</label>
    <br>
    <textarea asp-for="SpecialEventsDiscription" class="form-control" rows="20" onfocus="this.value=''" type="text" ></textarea>
    <span asp-validation-for="SpecialEventsDiscription"></span>
    <br>
    <button type="submit" class="btn btn-outline-dark">Lägg till evenemang</button>
</form>
    
