@model CreateAccessoriesViewModel;

<h1>Nytt tillbehör</h1>

<form asp-action="Create" method="post">
    

    <label asp-for="AccessoriesName">Namn:</label>
    <input asp-for="AccessoriesName"  />
    <span asp-validation-for="AccessoriesName"></span>
  
    <button type="submit" class="btn btn-outline-dark">Lägg till tillbehör</button>

    
</form>
