@model CreateAccessoriesViewModel;

<h1>Nytt tillbehör</h1>

<form asp-action="Create" method="post">
    

    <label asp-for="AccessoriesName">Namn:</label>
    <input asp-for="AccessoriesName"  />
    <span asp-validation-for="AccessoriesName"></span>
  
    <button type="submit" class="btn btn-outline-dark">Lägg till tillbehör</button>

    
</form>

@foreach(Accessory accessory in @Model.ListAccessories)
{
    <div class="row">

        <div class="col-sm">@accessory.AccessoryName</div>
    
        <div class= "col-sm">
            <form asp-action="Delete" method="post">
                <input type="hidden"  value="@accessory.AccessoryId" name="id"/>
                <button type="submit" class= "btn btn-outline-danger">Ta bort </button>
            </form>                  
        </div>




    </div>
}
