@model CreateDishViewModel

 <table >

     <thead>

         <partial name="_ConstantCatringDishsPartialView"/>

     </thead>
     </table>
     <br>
     <br>

 
     <body >
        @*List of all dishes for catering menu*@
        @foreach (Dish dish in Model.DishList)
        {
            <table>
            <tr style="background-color: antiquewhite ">

                    <td> 
                        <h4 class="col-sm ">@dish.DishName</h4>
                    </td>
                
                     <container class="col-sm">
                    @foreach(Accessory accessory in Model.AccessoriesList)
                    {
                     
                        @foreach(DishAccessory dishAccessory in Model.DishAccessories )
                        {
                            
                            if(dishAccessory.AccessoryId == accessory.AccessoryId && dish.DishId == dishAccessory.DishId)
                            {
                                
                                <td >
                                    <div class= "col-sm">
                                    @accessory.AccessoryName
                                    </div>
                                </td>
                                
                            }
                             
                        }
                   
                    }
                    </container>
                    
                    <td>
                        <h5 class="col-sm text-right">@dish.DishPrice Kr:-</h5>
                    </td>
            
            </tr>  
                
           </table> 
        }        

     </body>