@model CreateDishViewModel



<a class="btn btn-outline-dark" asp-area="" asp-controller="Accessories" asp-action="Create"  >Skapa/tabort tillbehör</a>
<br>           
 

 <form asp-action="Create" method="post">
    

    <label asp-for="DishName">Maträtt namn:</label>
    <input asp-for="DishName" onfocus="this.value='@Model.DishName'" value="@Model.DishName" type="text" required class="form-control"/>
    <span asp-validation-for="DishName"></span>
    <br>

    

    <label asp-for="DishPrice">Pris:</label>
    <input asp-for="DishPrice" onfocus="this.value='@Model.DishPrice'" value="@Model.DishPrice" type="number" required class="form-control"/>
    <span asp-validation-for="DishPrice"></span>

    <br>


    <label asp-for="MenuType">Vilken menytyp:</label>
    <select asp-for="MenuType" asp-items="Html.GetEnumSelectList(typeof(MenuType))"></select>
    <span asp-validation-for="MenuType"></span>
    <br>
    
     @foreach(Accessory accessory in Model.AccessoriesList)
        {
            <partial name="_CreateAccessoriesPartialView" model="accessory"/> 
        }
  

     <button type="submit" class="btn btn-outline-dark">Lägg till maträtt</button>
 </form>



