@model CreateDishViewModel

 <table >

     <thead>

         <partial name="_ConstantDishsPartialView"/>


     </thead>
 </table>
     <br>
     <br>

 
     <body >
        
        @foreach (Dish dish in Model.DishList)
        {
            <table>
            <tr style="background-color: antiquewhite ">

            
            
                
            @*<div classt = "row"> style="background-color:gainsboro ">*@ 

                @if(dish.MenuType.ToString() == "Menu")
                {
                    <td> 
                        <h4 class="col-sm ">@dish.DishName</h4>
                    </td>
                
                    

                    @*<div class="w-100 class=" m-1 " "></div>*@

                    
                    <container class="col-sm">
                    @foreach(Accessory accessory in Model.AccessoriesList)
                    {
                     
                        @foreach(DishAccessory dishAccessory in Model.DishAccessories )
                        {
                            
                            if(dishAccessory.AccessoryId == accessory.AccessoryId && dish.DishId == dishAccessory.DishId)
                            {
                                
                                <td >
                                    <div class= "col-sm">
                                    @accessory.AccessoryName
                                    </div>
                                </td>
                                
                            }
                             
                        }
                   
                    }
                    </container>
                    
                    <td>
                        <h5 class="col-sm text-right">@dish.DishPrice Kr:-</h5>
                    </td>
                }
            @*</div>*@
            
            </tr>  
                
           </table> 
        }

        

     </body>


