@model CreateDishViewModel
 <table>

     <thead>

         <partial name="_ConstantDishsPartialView"/>

     </thead>

     <div class= "col-sm">
            <a class="btn btn-outline-dark" asp-area="" asp-controller="Dish" asp-action="Create"  >Skapa ny maträtt</a>
            
     </div>
     <br>

     <tbody>
         
        @foreach (Dish dish in Model.DishList)
        {
            <div class="row" >
            <partial name="_DishPartialView" model="dish"/>

            <div class="w-100"></div>

            @foreach(Accessory accessory in Model.AccessoriesList)
            {
        
               
                @foreach(DishAccessory dishAccessory in Model.DishAccessories )
                {
                    if(dishAccessory.AccessoryId == accessory.AccessoryId && dish.DishId == dishAccessory.DishId)
                    {
                            <div class="m-1" >@accessory.AccessoryName </div>
                            
                    }

                }            

            }
            </div>
        }

     </tbody>

 </table>
