@model CreateReservationViewModel;

<h1>Reservationer</h1>


<form asp-action="Create" method="post">
    

    <label asp-for="ReservationName">Namn:</label>
    <br>
    <input asp-for="ReservationName" onfocus="this.value=''" min="0" required autocomplete="off"/>
    <span asp-validation-for="ReservationName"></span>
    <br>
    <label asp-for="ReservationDescription">Skriv in reservation:</label>
    <br>
    <textarea asp-for="ReservationDescription" rows="20"  cols="100" min="0" required autocomplete="off"></textarea>
    <span asp-validation-for="ReservationDescription"></span>
    <br>
  
    <button type="submit" class="btn btn-outline-dark">Lägg till reservation</button>
</form>