@model List<Reservation>
 <table>

     <thead>

         <partial name="_ConstantReservationPartialView"/>

     </thead>
 
     <br>

     <tbody>
         
        @foreach (Reservation reservation in Model)
        {
            <partial name="_ReservationTwoPartialView" model="reservation"/>
        }

     </tbody>

 </table>    

