@model Allergy

    <div class="col-sm">
        <h4>@Model.AllergyInfo:</h4>
    </div>
    
    <div class="col-sm" style="max-width:800px">
        <p class="text-start">@Model.AllergyInfo</p>
        
    </div>
    <br> 
    <br> 
