@model Accessory

<div class="row">
    <div class= "col-sm"> 
                
        <input class="k-checkbox" name="ListAccessoriesId" value="@Model.AccessoryId" type="checkbox" id="@Model.AccessoryId"/>
        <label class="k-checkbox-label">@Model.AccessoryName</label>
                
    </div>
</div>
   