@model Reservation


<div class="row">

    <div class="col-sm">@Model.ReservationName</div>
    <div class="col-sm">
        <form asp-Controller="Reservation" asp-action="Edit" method="post">
            <input type="hidden"  value="@Model.ReservationId" name="id"/>
            <button type="submit" class= "btn btn-outline-danger">Edit </button>
        </form>
    </div>
    <div class= "col-sm">
        <form asp-action="Delete" method="post">
            <input type="hidden"  value="@Model.ReservationId" name="id"/>
            <button type="submit" class= "btn btn-outline-danger">Delete </button>
        </form>                  
    </div>




</div>