@model Reservation




    <div class="col-sm">
        <h4>@Model.ReservationName:</h4>
    </div>
    
    <div class="col-sm" style="max-width:800px">
        <p class="text-start">@Model.ReservationDescription</p>
        
    </div>
    <br> 
    <br> 
    


