@model Reservation




    <div class="col-sm">
        <h4>@Model.ReservationName:</h4>
    </div>
    
    <div class="col-sm">
        @Model.ReservationDescription
        
    </div>
    <br> 
    <br> 
    


