@model SpecialEvent




    <div class="col-sm">
        <h4>@Model.SpecialEventsInfoName:</h4>
    </div>
    
    <div class="col-sm" style="max-width:800px">
        <p class="text-start">@Model.SpecialEventsDiscription</p>
        
    </div>
    <br> 
    <br> 
