@model List<Contact>
 <table>

     <thead>

         <partial name="_ConstantContactPartialView"/>


     </thead>

     <br>

     <tbody>
         
        @foreach (Contact contact in Model)
        {
            <partial name="_ContactTwoPartialView" model="contact"/>
        }

     </tbody>

 </table>  
