@model List<Allergy>
 <table>

     <thead>

         <partial name="_ConstantAllergyPartialView"/>

     </thead>

     <br>

     <tbody>
         
        @foreach (Allergy allergy in Model)
        {
            <partial name="_AllergyTwoPartialView" model="allergy"/>
        }

     </tbody>

 </table>  